In [1]:
import pandas as pd
import numpy as np

In [5]:
feature_data = [
    np.array([1, 2 ,3]),
    np.array([4, 5 ,6]),
    np.array([7, 8 ,9]),
    np.array([10, 11 ,12])
]

index_data = np.array([13, 14, 15])

In [33]:
from dataclasses import dataclass 

class DataLakeDTO:
    ... 


class IPPDTO(DataLakeDTO):
    @dataclass 
    class Data:    
        news: list[float]
        cb_monitor: list[float]
        bussines_clim: list[float]
        exchange_rate: list[float]
        rzd: list[float]
        consumer_price: list[float]
        curs: list[float]

In [26]:
a = IPPDTO.Data(
    news = [1, 2, 3],
    cb_monitor = [1, 2, 3],
    bussines_clim = [1, 2, 3],
    exchange_rate = [1, 2, 3],
    rzd = [1, 2, 3],
    consumer_price = [1, 2, 3],
    curs = [1, 2, 3]
)

In [34]:
    feature_lags = {
        "news": 1,           # Новостной индекс ЦБ
        "consumer_price": 0, # Индекс цен на электроэнергию в первой ценовой зоне
        "exchange_rate": 6,  # Ключевая ставка 
        "cb_monitor": 2,     # Промышленность. Как изменился спрос на продукцию, товары, услуги?
        "bussines_clim": 2,  # Индекс бизнес климата
        "curs": 0,           # Курс рубля к доллару
        "rzd": 1             # Поставки РЖД
    }

In [35]:
for feature in IPPDTO.Data.__dataclass_fields__:
    print(feature_lags.get(feature, "not found"))

1
2
2
6
1
0
0

In [8]:
{
    'goal': index_data,
    
}

pd.DataFrame([index_data] + feature_data, columns = ['goal', 'feature_1', 'feature'])

   goal  feature_1  feature
0    13         14       15
1     1          2        3
2     4          5        6
3     7          8        9
4    10         11       12